.chipInputWrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid purple;
  padding: 5px;
  background-color: #fff;
  width: 70%;
}

.chipContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 8px 8px;
  font-size: 14px;
  background: transparent;
}

.suggestions {
  position: absolute;
  top: 100%;
  border: none;
  margin-top: 12px;
  width: 360px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 16px;
  cursor: pointer;
  &:hover {
    background-color: #f7f7f7;
  }
}

.name {
  padding-right: 4px;
}

.email {
  padding-right: 4px;
  color: gray;
}
